/*
	建立自己的变量，只要是覆盖bootstrap的默认设置
*/

$base-color:#00AFC4;
$navbar-height:80px;
//$navbar-default-link-color:#000;
$navbar-default-link-hover-color:#00AFC4;

$jumbotron-font-size:15px;
$jumbotron-heading-font-size:30px;
$jumbotron-bg:#fff;

$btn-default-bg:#00AFC4;
$btn-default-color:#fff;