$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
/*
	报名表
*/
@import "application-bootstrap-import";

.content{
	@at-root{
		.application{
			margin-bottom: 25px;
			.form-group{
				margin-top: 28px
			}
			label{
					font:{
						size:16px;
						weight:normal;
					}
					line-height: 25px;
			}
			button{
				display: block;
				height: 50px;
				line-height: 50px;
				text-align: center;
				width: 200px;
				clear:both;
				margin: 10px auto;
				padding: 0;
				font-size: 18px;
			}
			.form-control{
				box-shadow: none;
				-webkit-appearance: none;
			}
		}
	}
}