$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
/*
	网站的主体样式文件
	CONTENTS
		SETTINGS
			variables.scss........变量文件
		TOOLS

		COMMPONENTS

		BASE
			screen.scss..........
*/
//自定义变量文件
@import "_variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
/*全局样式*/
body {
  background-color: #F9F6F6;
  font:{
  	size:14px;
  	family:"微软雅黑,Helvetica Neue,Helvetica,Arial,sans-serif";
  }
}

/*头部、导航栏*/
.header{
	height:80px;
}
/*申请按钮*/
.navbar{
	.pal-btn{
		width: 90px;
		height:32px;
		line-height: 32px;
		background-color:$base-color;
		color:#fff !important;
		padding: 0;
		text-align: center;
		margin-top:24px;
		margin-left: 10px;
		&:hover{
			background-color:#337AB7 !important;
			color:#fff !important;
		}
	}
}
/*大图*/
.bgpic{
	margin-top: 15px;
	width: 100%;
}

/*内容区*/
.content{
	margin-top: 20px;
	//新闻发布区
	article{
		padding: 15px;
		background-color: #fff;
		margin-bottom: 20px;
		//头部
		.post-head{
			text-align: center;
			.post-title{
				font:{
					size:2em;
					weight:400;
				}
				color:#303030;
			}
			.post-meta{
				color:#959595;
				line-height: 25px;
				b{
					color:#00AFC4;
				}
			}

		}
		//正文摘要,需要限定高度
		.post-content{
			height:90px;
			margin-top: 10px;
			overflow: hidden;
			text-overflow:ellipsis;
			p{
				text-indent: 2em;
				line-height: 28px;
				font-size: 16px;
			}
		}
		//正文底部
		//类别
		.post-category{
			height:30px;
			padding-top: 20px;
			color:#959595;
		}
	}
	//简介区
	.intro{
		margin: 0 auto;
		margin-bottom: 20px;
		text-align:center;
		background-color: #fff;
		padding: 15px;
		border:{
			bottom: 1px solid #d9d9d9;
			left:2px solid #1b809e;
		}
		.intro-title{
			font-size: 30px;
		}
		.intro-body{
			font-size: 15px;
			color:#666;
			line-height: 25px;
		}
	}
}
.section-title{
	text-align: center;
	h3{
		font-size: 18px;
	}
}

/*底部*/
.footer{
	background-color: $base-color;
	color:white;
}

