$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
/*
	项目内容页面样式
*/
@import "studyabroad-bootstrap-import";

.content{
	margin-top: 10px;
	@at-root{
		//图片
		.pic{
			width: 100%;
			height: auto;
			position: relative;
			.wall{
				display: block;
				width: 100%;
			}
		}
		//广告
		.slogan{
			display: block;
			width: 100%;
			position: absolute;
			left:0;
			top:0;
			z-index: 1000;
		}
	}
}