//新闻发布区
article{
	padding: 12px;
	background-color: #fff;
	margin-bottom: 20px;
	//头部
	.post-head{
		text-align: center;
		.post-title{
			font:{
					size:2em;
					weight:400;
				}
			color:#303030;
		}
		.post-meta{
			color:#959595;
			line-height: 25px;
			b{
				color:$base-color;
			}
		}

	}
	//文章文字
	%p{
		p{
			text-indent: 2em;
			line-height: 28px;
			font-size: 16px;
		}
	}
	//文章摘要,需要限定高度
	.post-abstract{
		height:90px;
		margin-top: 10px;
		overflow: hidden;
		text-overflow:ellipsis;
		@extend %p;
	}
	//文章正文
	.post-content{
		margin-top: 10px;
		padding: 25px;
		@extend %p;
		//限制图片
		img{
			max-width: 90% !important;
			display: block;
			margin: 0 auto;
		}
		.img-left{
			float:left;
			margin: 8px;
		}
		.img-right{
			float:right;
			margin: 8px;
		}
	}
	//footer
	.post-footer{
		margin-bottom: 8px;
	}
	//类别
	.post-category{
		height:35px;
		padding:{
			top:12px; 
			left:20px;
		}
		color:#959595;
		border-top: 1px solid #ebebeb;
	}

}