.link{
	margin-bottom: 25px;
	.link-default{
			background-color: #E56A45;
	}
	.link-pfp{
			background-color: #FFC000;
	}
	.link-pst{
		background-color: #C0504D;
	}
	.link-color-1{
		background-color: #32CCFE;
	}
	.link-color-2{
		background-color: #FAF331;
	}
	.link-color-3{
		background-color: #F85556;
	}
	.link-color-base{
		background-color: #00AFC4;
	}
	a{
		display: block;
		width: 100%;
		color:#fff;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 20px;
		margin: 0 auto;
		text-decoration: none !important;
		&:hover{
			background-color: #337AB7;
		}
	}
	.link-sm{
		font-size: 16px;
	}
}