//网站基础设置
$base-color:                            #00AFC4;
$font-family-base:      "微软雅黑,Helvetica Neue,Helvetica,Arial,sans-serif";
$font-size-base:                          14px;
$body-bg:                              #F9F6F6;
//头部导航栏
$navbar-height:80px;
$navbar-default-link-hover-color:       #00AFC4;
$navbar-default-toggle-hover-bg:        #00AFC4;
$navbar-default-toggle-icon-bar-bg:     #fff;
$navbar-default-toggle-border-color:    none; //去除掉边框颜色

//新闻块
$jumbotron-font-size:                   15px;
$jumbotron-heading-font-size:           26px;
$jumbotron-bg:                          #fff;


//按钮
$btn-default-bg:                        #00AFC4;
$btn-default-color:                     #fff;