//网站基础设置
$base-color:                            #00AFC4;
$font-family-base:      "微软雅黑,Helvetica Neue,Helvetica,Arial,sans-serif";
$font-size-base:                          14px;
$body-bg:                              #F9F6F6;
//头部导航栏
$navbar-height:80px;
$navbar-default-link-hover-color:       #00AFC4;
$navbar-default-toggle-hover-bg:        #00AFC4;
$navbar-default-toggle-icon-bar-bg:     #fff;
$navbar-default-toggle-border-color:    none; //去除掉边框颜色

//新闻块
$jumbotron-font-size:                   15px;
$jumbotron-heading-font-size:           26px;
$jumbotron-bg:                          #fff;


//按钮
$btn-default-bg:                        #00AFC4;
$btn-default-color:                     #fff;

//panel
$panel-heading-padding:                18px 15px;
$panel-default-heading-bg:             #5DA1CA;
$panel-default-text:                   #fff;
$panel-primary-heading-bg:             #755959;
$panel-primary-text:                   #fff;
$panel-success-heading-bg:             #B6C14B;
$panel-success-text:                   #fff;
$panel-info-heading-bg:                #72AFB6;
$panel-info-text:                      #fff;
$panel-warning-heading-bg:             #918A7B;
$panel-warning-text:                   #fff;
$panel-danger-heading-bg:              #E56A45;
$panel-danger-text:                    #fff;

